In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("dados\SuperCleaned.csv")
data

C:\Users\jose.xavier\AppData\Local\Temp\ipykernel_18788\3117179040.py:1: DtypeWarning: Columns (101,107,108,140,141,145,146,147,153,154,158,159,160) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("dados\SuperCleaned.csv")

,Unnamed: 0,ID,NAME,COUNTRY,Full name,Birthdate,Birthplace,Died,Date_of_death,Age,...,BOWLING_T20s_Runs,BOWLING_T20s_Wkts,BOWLING_T20s_BBI,BOWLING_T20s_BBM,BOWLING_T20s_Ave,BOWLING_T20s_Econ,BOWLING_T20s_SR,BOWLING_T20s_4w,BOWLING_T20s_5w,BOWLING_T20s_10
0,0,8772,Henry Arkell,England,Henry John Denham Arkell,1898-06-26,"Edmonton, Middlesex",Dead,12/03/82,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,532565,Richard Nyren,England,Richard Nyren,1734-04-25,"Eartham, Sussex",Dead,1797-04-25,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,16856,Sydney Maartensz,England,Sydney Gratien Adair Maartensz,1882-04-14,"Colombo, Ceylon",Dead,10/09/67,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,16715,Brian Lander,England,Brian Richard Lander,09/01/42,"Bishop Auckland, Co Durham",Alive,NaN,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15989,Derek Kenderdine,England,Derek Charles Kenderdine,1897-10-28,"Chislehurst, Kent",Dead,28/08/47,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90303,90303,19777,Keith Robinson,England,Keith Robinson,17/12/33,"Thirsk, Yorkshire",Alive,NaN,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90304,90304,14843,Trevitt Hine-Haycock,England,Trevitt Reginald Hine-Haycock,1861-12-03,"Little Heath, Old Charlton, Kent",Dead,02/11/53,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90305,90305,15025,John Hughes,England,John Hughes,1825-07-02,Hertford,Dead,29/01/07,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90306,90306,11167,John Clayton,England,John Morton Clayton,1857-11-17,"Chesterfield, Derbyshire",Dead,01/04/38,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90307,90307,565677,H Clewitt,England,H Clewitt,NaN,NaN,Unknown,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.columns

Index(['Unnamed: 0', 'ID', 'NAME', 'COUNTRY', 'Full name', 'Birthdate',
       'Birthplace', 'Died', 'Date_of_death', 'Age',
       ...
       'BOWLING_T20s_Runs', 'BOWLING_T20s_Wkts', 'BOWLING_T20s_BBI',
       'BOWLING_T20s_BBM', 'BOWLING_T20s_Ave', 'BOWLING_T20s_Econ',
       'BOWLING_T20s_SR', 'BOWLING_T20s_4w', 'BOWLING_T20s_5w',
       'BOWLING_T20s_10'],
      dtype='object', length=177)

In [7]:
#OBS: Quando definimos o index no nome e abaixo criamos várias Series, iremos transferir como index o nome 
# para cada uma das séries
data.set_index('NAME', inplace=True)

In [19]:
# Creating pandas series for some columns

country = data["COUNTRY"]
full_name = data['Full name']
birthday = data['Birthdate']
birthplace = data['Birthplace']
age = data['Age']
runs = data["BOWLING_T20s_Runs"]

In [20]:
# Quantos jogadores com mais de 50 runs

runs[runs>50].count()

3654

In [21]:
# Qual o valor máximo de runs?

runs.max()

11731.0

In [22]:
# Qual o nome do jogador com maior número de runs?
runs[runs == runs.max()]

NAME
Dwayne Bravo    11731.0
Name: BOWLING_T20s_Runs, dtype: float64

In [23]:
# Quais são os jogadores com menor numero de runs?

runs[runs == runs.min()]

NAME
Tom Lancefield    0.0
Jack Burnham      0.0
Adam Gilchrist    0.0
Name: BOWLING_T20s_Runs, dtype: float64

In [24]:
# Qual o valor da média de runs?
runs.mean()

433.2332673267327

In [25]:
# Quantos jgadores possuem mais de 50 runs e menos de 100?
runs[(runs > 50) & (runs < 100)].count()

809

In [29]:
# Nome dos jogadores com runs maiores que 7000, em ordem decrescente
runs[runs > 7000].sort_values(ascending=False)

NAME
Dwayne Bravo       11731.0
Sohail Tanvir       8224.0
Shahid Afridi       7248.0
Sunil Narine        7140.0
Shakib Al Hasan     7095.0
Name: BOWLING_T20s_Runs, dtype: float64

In [30]:
#Qual o número total de runs de todos os jogadores?
runs.sum()

2187828.0